Repository paultyng/terraform-provider-scaleway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @Codelax, @Laure-di, @yfodil, @jremy42, @Mia-Cross

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/internal/services/account/ @Codelax
/internal/services/applesilicon/ @Laure-di
/internal/services/baremetal/ @Laure-di
/internal/services/billing/ @yfodil
/internal/services/block/ @Codelax
/internal/services/cockpit/ @jremy42
/internal/services/container/ @Codelax
/internal/services/documentdb/ @jremy42
/internal/services/domain/ @yfodil
/internal/services/flexibleip/ @yfodil
/internal/services/function/ @Codelax
/internal/services/iam/ @Codelax
/internal/services/instance/ @Codelax
/internal/services/iot/ @jremy42
/internal/services/ipam/ @yfodil
/internal/services/jobs/ @Codelax
/internal/services/k8s/ @Mia-Cross
/internal/services/lb/ @yfodil
/internal/services/marketplace/ @Codelax
/internal/services/mnq/ @Codelax
/internal/services/object/ @Mia-Cross
/internal/services/rdb/ @jremy42
/internal/services/redis/ @jremy42
/internal/services/registry/ @Mia-Cross
/internal/services/sdb/ @jremy42
/internal/services/secret/ @Codelax
/internal/services/tem/ @jremy42
/internal/services/vpc/ @yfodil
/internal/services/vpcgw/ @yfodil
/internal/services/webhosting/ @jremy42

feat(domain): add helpers for expand contact
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/helpers_test.go
Owners: @yfodil

feat(domain): add support for buying and registar domains
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
Owners: @yfodil

feat(domain): add test for create and read
  internal/provider/provider.go
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/testdata/order-domain-basic.cassette.yaml
Owners: @remyleone, @yfodil

feat(domain): add chore of new resource order domain
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Owners: @yfodil

feat(apple-silicon): add support vpc
  go.mod
  go.sum
  internal/services/applesilicon/server.go
Owners: @remyleone, @Laure-di

add tests
  internal/services/applesilicon/server_test.go
Owners: @Laure-di

add documentation
  docs/resources/apple_silicon.md
Owners: @remyleone

feat(container/serverless): add scaling_option block
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-scaling-option.cassette.yaml
  internal/services/container/testdata/data-source-container-scaling-option.cassette.yaml
Owners: @remyleone, @Codelax

fix: lint doc
  docs/resources/rdb_snapshot.md
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
Owners: @remyleone, @jremy42

feat(rdb): add resource for snapshot
  internal/services/rdb/snapshots.go
Owners: @jremy42

feat: add test
  docs/resources/rdb_snapshot.md
  internal/provider/provider.go
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/snapshots.go
  internal/services/rdb/snapshots_test.go
  internal/services/rdb/testdata/instance-basic.cassette.yaml
  internal/services/rdb/testdata/instance-case-sensitive-engine.cassette.yaml
  internal/services/rdb/testdata/instance-init-settings.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-with-cluster.cassette.yaml
  internal/services/rdb/testdata/rdb-instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-end-to-end.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
  internal/services/rdb/waiters.go
  log
Owners: @remyleone, @jremy42

chore: updated sdk go
  go.mod
  go.sum
Owners: @remyleone

fix lint doc
  docs/resources/rdb_snapshot.md
  log
Owners: @remyleone

fix: lint doc
  docs/resources/rdb_snapshot.md
Owners: @remyleone

fix: lint doc
  docs/resources/rdb_snapshot.md
Owners: @remyleone

fix: lint doc
  docs/resources/rdb_snapshot.md
Owners: @remyleone

fix: lint doc
  internal/services/rdb/testdata/instance-case-sensitive-engine.cassette.yaml
Owners: @jremy42

fix tests
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
Owners: @Laure-di

doc: add a warning about push_default_route for scaleway_vpc_public_gateway_dhcp (#2879)
  docs/resources/vpc_public_gateway_dhcp.md
Owners: @remyleone

fix(docs): fix object documentation force_destroy (#2877)
  docs/resources/object_bucket.md
Owners: @remyleone

Fix trailing space
  docs/resources/container.md
Owners: @remyleone

feat(apple-silicon): add support vpc
  go.mod
  go.sum
  internal/services/applesilicon/server.go
  internal/services/applesilicon/types.go
  internal/services/applesilicon/waiters.go
Owners: @remyleone, @Laure-di

add test vpc
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
Owners: @Laure-di

tests
  go.mod
  go.sum
  internal/services/applesilicon/clients.go
  internal/services/applesilicon/helpers.go
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
  internal/services/applesilicon/waiters.go
Owners: @remyleone, @Laure-di

chore: update linters (#2850)
  .golangci.yml
Owners: @remyleone

doc(instance_server): mark private_ip as deprecated (#2852)
  docs/resources/instance_server.md
  internal/services/instance/server.go
Owners: @remyleone, @Codelax

feat(cockpit): add data source for source (#2856)
  docs/data-sources/cockpit_source.md
  internal/provider/provider.go
  internal/services/cockpit/source_data_source.go
  internal/services/cockpit/source_data_source_test.go
  internal/services/cockpit/testdata/cockpit-source-basic-metrics.cassette.yaml
  internal/services/cockpit/testdata/cockpit-source-data-source-by-id.cassette.yaml
  internal/services/cockpit/testdata/cockpit-source-data-source-by-name.cassette.yaml
  internal/services/cockpit/testdata/cockpit-source-data-source-defaults.cassette.yaml
Owners: @remyleone, @jremy42

fix: ensure that a GetNamespace is used to ensure that a namespace is… (#2859)
  internal/services/registry/namespace_test.go
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
  internal/services/registry/testdata/namespace-basic.cassette.yaml
Owners: @Mia-Cross

test(redis): remove flaky tests from redis test suite (#2855)
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-static-endpoint.cassette.yaml
Owners: @jremy42

feat(cockpit): add field grafana url (#2857)
  docs/resources/cockpit_grafana_user.md
  internal/services/cockpit/grafana_user.go
  internal/services/cockpit/grafana_user_test.go
  internal/services/cockpit/testdata/grafana-user-basic.cassette.yaml
  internal/services/cockpit/testdata/grafana-user-update.cassette.yaml
Owners: @remyleone, @jremy42

feat(cockpit): add retention days in resource source (#2846)
  docs/resources/cockpit_source.md
  internal/services/cockpit/cockpit_data_source_test.go
  internal/services/cockpit/source.go
  internal/services/cockpit/source_test.go
  internal/services/cockpit/testdata/cockpit-source-basic-metrics.cassette.yaml
  internal/services/cockpit/testdata/cockpit-source-retention-days.cassette.yaml
  internal/services/cockpit/testdata/cockpit-source-update.cassette.yaml
  internal/services/cockpit/testdata/data-source-cockpit-basic.cassette.yaml
Owners: @remyleone, @jremy42

chore: bump golang.org/x/net (#2860)
  go.mod
  go.sum
Owners: @remyleone

feat(domain): add chore of new resource order domain
  go.mod
  go.sum
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Owners: @remyleone, @yfodil

feat: resource can order a list of domains
  internal/provider/provider.go
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/waiters.go
Owners: @remyleone, @yfodil
